body{
	padding-left: 15px;
	padding-right: 15px;
    padding-top: 5px;
}
#bookmarks .form-group{
	margin-bottom: 5px;
}
footer{
    padding-bottom: 20px;
}
#view{
	padding-top: 5px;
}
#about.active{
	width: 600px;
}
#notSaved {
  display: none;
}

       